.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bodymov 0.5s ease-out 1.5s forwards;
    -webkit-animation: bodymov 0.5s ease-out 1.5s forwards;
}
.landing-page img{
    width: 372px;
    height: 283px;
    margin:0px 0 0px 0;
    animation: drop 0.8s ease forwards;
    -webkit-animation: drop 0.8s ease  forwards;
    opacity: 0;
}

.landing-page p{
    font-size: var(--font_size1);
    text-align: center;
    margin: 30px 5px 50px 0;
   
}
.landing-txt{
    animation: dropText 1s ease forwards;
    -webkit-animation: dropText 0.8s ease 0.4s forwards;
    opacity: 0;
}

.slogon-txt{
    text-transform: capitalize;
    letter-spacing:4px ;
    animation: slogon-txt 0.8s ease-in 0.8  forwards ;
    -webkit-animation: slogon-txt 0.8s ease-out 0.4s  forwards ;
    opacity: 0;
    padding-bottom: 26px;
}


.slogon-txt:hover{
    border-bottom: 1px solid black;
    
}
.arowbtn{
    width: 63px;
    height: 43px;
    /* background-color: var(--backgrond_color);
    background: rgba(247, 90, 0, 0.16); */
    border: none;
    border-radius: 40.2907px;
    -webkit-border-radius: 40.2907px;
    -moz-border-radius: 40.2907px;
    -ms-border-radius: 40.2907px;
    -o-border-radius: 40.2907px;
    margin:0 5px 25px 340px;
    animation: btnup 1.5s ease 0.8s forwards;
    -webkit-animation: btnup 1.5s ease 0.8s forwards;
    opacity: 0;
    max-height: 103px;
}

.material-symbols-outlined{
    width: 34.5px;
    font-size: 32px!important;
    color: var(--orange_color);
    justify-self: center;
   
}
.arowbtn:hover{
    border: 0.5px solid black;
    background-color:rgba(247, 90, 0, 0.3) ;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.splash-creen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -9px;
    background-color: var(--backgrond_color);
    animation: dropText 1s ease forwards;
    -webkit-animation: dropText 0.8s ease 0.3s forwards,bodymov 1s ease-out 1.7s forwards ;

    opacity: 0;
    
}
.vector-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bleu_color);
    width: 100%;
    height: 640px;
    border-bottom-left-radius:45px ;
    border-bottom-right-radius: 45px;
    
}
.btns{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.btns:last-child :not(span){
    margin: 0 10px 18px 14px;
}
.skipbtn{
    width: 63px;
    height: 43px;
    /* background-color: var(--backgrond_color);
    background: rgba(247, 90, 0, 0.16); */
    font-size: var(--font_size1);
    border: none;
    color: var(--bleu_color);
    border-radius: 40.2907px;
    -webkit-border-radius: 40.2907px;
    -moz-border-radius: 40.2907px;
    -ms-border-radius: 40.2907px;
    -o-border-radius: 40.2907px;
    margin:0 5px 25px 340px;
    animation: btnup 1.5s ease 0.3s forwards;
    -webkit-animation: btnup 1.5s ease 0.8s forwards;
    opacity: 0;
}
.skipbtn:hover{
    border: 0.5px solid black;
    background-color:rgba(247, 90, 0, 0.3) ;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}
.splash-creen p {
    font-size: var(--font_size1);
    text-align: center;
    line-height: 39px;
    margin: 30px 0 50px 0;
    padding: 5% 0 13% 0 ;
    animation: dropText 1s ease forwards;
    -webkit-animation: dropText 0.8s ease 0.5s forwards;
    opacity: 0;
}
.arowbtn.splash{
    animation: btnup 1.5s ease 1.3s forwards !important;
    -webkit-animation: btnup 1.5s ease 0.8s forwards !important;
}
.splash-creen.second{
 animation: dropText2 0.8s ease 0.3s forwards,bodymov 1s ease-out 1.5s forwards  ;
 -webkit-animation: dropText2 0.8s ease 0.3s forwards,bodymov 1s ease-out 1.5s forwards  ;
}
.splash-creen.second p{
    padding: 5% 0 4% 0 ;
    animation: dropText3 0.8s ease 0.5s forwards;
    -webkit-animation: dropText3 0.8s ease 0.5s forwards;
}
.splash-creen.thered{
 animation: btnup 0.8s ease 0.3s forwards,bodymov 1s ease-out 1.5s forwards  ;
 -webkit-animation: btnup 0.8s ease 0.3s forwards,bodymov 1s ease-out 1.5s forwards  ;
}
.splash-creen.thered p{
    padding: 5% 0 13% 0 ;
    animation: dropText2 0.8s ease 0.6s forwards;
    -webkit-animation: dropText2 0.8s ease 0.6s forwards;
    opacity: 0;
    z-index: -1;
}
@keyframes drop {
    0%{
        opacity: 0;
        margin: 150px 1000px 150px 0;
    }
    100%{
        margin: 150px 0 150px 0;
        opacity: 1;
    }
}
@keyframes dropText {
    0%{
         opacity: 0;
         transform: translateX(400px);
         -webkit-transform: translateX(400px);
         -moz-transform: translateX(400px);
         -ms-transform: translateX(400px);
         -o-transform: translateX(400px);
         -webkit-transform:translateX(400px) ;
}
    
    100%{ opacity: 1;
         transform:translateX(0) ;
          -webkit-transform:translateX(0) ;
           -moz-transform:translateX(0) ;
            -ms-transform:translateX(0) ;
             -o-transform:translateX(0) ;
        }
  
}
@keyframes bodymov {
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    100%{
        transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
}
}
@keyframes slogon-txt{
    0%{
        letter-spacing: 1px;
        transform: translateY(400px);
        -webkit-transform: translateY(400px);
        -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
        -o-transform: translateY(400px);
}
    50%{
        letter-spacing: 2px;
    }
    100%{
        letter-spacing: 4px;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
}
}
@keyframes btnup{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes dropText2{
    0%{
         opacity: 0; 
         transform:translateY(-400px) ;
          -webkit-transform:translateY(-400px) ;
           -moz-transform:translateY(-400px) ;
            -ms-transform:translateY(-400px) ;
             -o-transform:translateY(-400px) ; 
        }
    
    100%{ opacity: 1;
         transform:translateY(0) ;
          -webkit-transform:translatey(0) ; 
          -moz-transform:translatey(0) ;
           -ms-transform:translatey(0) ; 
           -o-transform:translatey(0) ;
         }
  
}
@keyframes dropText3{
    0%{
        opacity: 0;
        transform: translateX(-400px);
        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
        -o-transform: translateX(-400px);
        -webkit-transform:translateX(-400px) ;
}

   
   100%{ opacity: 1;
        transform:translateX(0) ;
         -webkit-transform:translateX(0) ;
          -moz-transform:translateX(0) ;
           -ms-transform:translateX(0) ;
            -o-transform:translateX(0) ;
       }
}