@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Serif Tamil;
  font-weight: 400;
  max-width: 430px;
  height: auto;
    --orange_color: #ed7631;
    --white_color:#ffffff;
    --backgrond_color : #ffffff;
    --msg_color: #91BED4;
    --bleu_color:#0477BF;   
    --font_size1:20px;
    --font_color:#000000;
    max-width: 430px;
    max-height: 926px;
    animation-iteration-count: infinite;


}









